li{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

body{
    color: white;
}

.ms_cursor{
    cursor: pointer;
}

.ms_background-dark{
    background-color: rgb(41, 54, 69);
}

.ms_background-light{
    background-color: rgb(54, 74, 96);
}

.ms_background-main{
    background-color: rgb(65, 175, 147);
}

.ms_el-nav{
    padding: 10px;
}

.ms_color-black{
    color: black;
}

.ms_stellina::after{
    content: "";
    display: block;
    border: 1px solid white;
    width: 80px;
}

.ms_stellina{
    display: flex;
    align-items: center;
}

.ms_stellina i{
    padding: 20px;
}

.ms_stellina::before{
    content: "";
    display: block;
    border: 1px solid white;
    width: 80px;
}


.stellina_nera::before{
    content: "";
    display: block;
    border: 1px solid black;
    width: 80px;
}

.stellina_nera::after{
    content: "";
    display: block;
    border: 1px solid black;
    width: 80px;
}

.ms_card_img{
    height: 250px;
    background-color: brown;
    border-radius: 7px;
}